%unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
$red-dark: #C62828;
$red-light: #FF5252;

$font-size-small: 10px;
$font-size-header: 28px;

$calendar-grey: #777;

$datepicker-border: 1px solid #000;
$datepicker-width: 330px;

.calendar-container {
  border: $datepicker-border;
  width: $datepicker-width;
  display: flex;
  background: white;

  & > div {
    width: 0;
  }

  .calendar-display-container {
    flex-grow: 1;
    border-right: $datepicker-border;
    & > div {
      text-align: center;
    }

    .display-weekday {
      font-size: $font-size-small;
      padding: 7px 0;
      background: linear-gradient($red-light, $red-dark);
      color: white;
      box-shadow: 0px 2px 4px #ccc;
    }

    .display-day {
      font-size: $font-size-header;

      h1 {
        margin: 20px;
      }
    }
  }
  .datepicker-container {
    flex-grow: 2;

    .month-toggle {
      font-size: $font-size-small;
      display: flex;
      justify-content: space-between;
      padding: 10px 0 0 0;
      margin: 0 13px;

      * {
        @extend %unselectable;
        color: $calendar-grey;
      }

      .toggle {
        cursor: pointer;
      }
    }

    .datepicker {
      margin-top: 5px;
      font-size: $font-size-small;

      .datepicker-header {
        display: flex;

        span {
          width: 0;
          flex-grow: 1;
          text-align: center;
          padding: 2px 0;
          color: $red-light;
        }
      }

      .datepicker-week {
        display: flex;

        span {
          width: 0;
          flex-grow: 1;
          text-align: center;
          padding: 2px 0;
          color: $calendar-grey;
          @extend %unselectable;

          &.day {
            cursor: pointer;
            transition: .1s background ease-in-out;
          }
          &.day:hover {
            color: white;
            background: $red-light;
          }

          &.active-day {
            color: white;
            background: $red-dark;
          }
        }
      }
    }
  }
}
